.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pie{
    height: 600px;
    background-color: blue;
    width: 300px;
    margin-right: 50px;
    padding: 10px;
    
}
.box {
    width: 300px;
    height: 300px;
}
.wbox {
    width: auto;
    height: auto;
}
/* .flex-container {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */